.dog_icon_left,
.dog_icon_right {
  position: fixed;
  height: 260px;
  width: auto;
  top: 300px;
  z-index: 1001;
}

.dog_icon_right {
  right: -20px;
  top: 260px;
}

@media (max-width: 667px) {
  .dog_icon_left,
  .dog_icon_right {
    display: none;
  }
}
