.dog_icon_left,
.dog_icon_right {
  position: fixed;
  height: 260px;
  width: auto;
  top: 300px;
  z-index: 1001;
}

.dog_icon_right {
  right: -20px;
  top: 260px;
}

@media (min-width: 1600px) {
  .dog_icon_left,
  .dog_icon_right {
    position: fixed;
    height: 360px;
    width: auto;
    top: 400px;
    z-index: 1001;
  }
}

@media (max-width: 667px) {
  .dog_icon_left,
  .dog_icon_right {
    display: none;
  }
}
