.footer_banner {
  width: auto;
  height: 126px;
  margin-bottom: 2rem;
  
}

.info_container {
  font-family: var(--copy-light);
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background-color: black;
  color: white;
  padding: 4rem 0rem 4rem 0rem;
}

.links {
  display: flex;
  flex-direction: column;
}

.ig_link,
.phone_number,
.google_link {
  font-size: 28.5px;
  line-height: 40px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.ig_link:hover,
.phone_number:hover,
.google_link:hover {
  color: red;
}

.name {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 48px;
}

.ig_link {
  font-family: var(--copy-bold);
}

.hours > p {
  font-family: var(--copy-light);
  text-align: right;
  font-size: 28.5px;
  line-height: 40px;
}

@media (max-width: 667px) {
  .footer_banner {
    height: 68.5px;
    width: auto;
  }

  .info_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
  }

  .info {
    margin-bottom: 2rem;
  }

  .links {
    margin-left: 0rem;
    margin-bottom: 2rem;
  }

  .info > p {
    font-size: 20px;
    margin-left: 0rem;
  }

  .hours > p {
    font-size: 20px;
    margin-right: 0rem;
    text-align: center;
    line-height: 26px;
    font-family: var(--copy-light);
  }
}

@media (min-width: 1600px) {
.footer_banner {
  width: 100vw;
  height: auto;
}
}

