.footer_banner {
  height: 186px;
  width: auto;
}

.info_container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background-color: black;
  color: white;
  padding: 2rem 0rem 2rem 0rem;
  margin-bottom: 2rem;
}

.info > p {
  font-size: 28px;
  margin-left: 16rem;
}

.hours > p {
  font-size: 20px;
  margin-right: 18rem;
}

@media (max-width: 667px) {
  .footer_banner {
    height: 126px;
  }

  .info_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
  }

  .info {
    margin-bottom: 2rem;
  }

  .info > p {
    font-size: 20px;
    margin-left: 0rem;
  }

  .hours > p {
    font-size: 20px;
    margin-right: 0rem;
  }
}
