.section {
  position: relative;
  display: flex;
  justify-content: center;
  touch-action: pan-y;
  width: 100vw;
}

.photo {
  width: 100%;
  height: auto;
}

.gallery_button {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: var(--background);
  font-size: 40px;
  cursor: pointer;

  width: 60px;
}

.prev_button {
  left: 10px;
}

.next_button {
  right: 10px;
}

.indicators {
  color: red;
  position: absolute;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  width: 64px;
  top: 96%;
  transform: translateY(-50%);
}

.indicator.active {
  color: var(--background);
}

@media (max-width: 667px) {
  .prev_button,
  .next_button {
    display: none;
  }

  .track {
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

.track::-webkit-scrollbar {
  display: none; /* hide scrollbar in Chrome/Safari */
}

.slide {
  flex: 0 0 100%;
  scroll-snap-align: center;
}
