.image_container {
    width: 100vw;
    height: auto;
}

.copy_section {
    text-align: center;
    padding: 6rem 0rem 6rem 0rem;
}

@media (max-width: 800px) {
    .image_container {
        width: 100%;
        margin-bottom: 1rem;
    }
}