.hero_photo,
.exterior_photo {
  width: 100vw;
  height: auto;
}

.copy_section {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;
  padding: 3rem 0rem 4rem 0rem;
  width: 100vw;
}

#tag_line {
  font-size: 68px;
}

.info_headline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.best_sh {
  display: flex;
}

#word_space {
  margin-left: 1rem;
}

.info_header {
  font-size: 78px;
  margin-bottom: 6rem;
}

.dog_icon {
  height: 80px;
  width: auto;
  margin-top: 1.5rem;
}

.info_section {
  display: flex;
  flex-direction: column;

  width: 800px;
}

.info_card {
  display: flex;
  text-align: left;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.icon {
  width: 160px;
  height: auto;
}

.info_card:nth-child(even) {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.info_card:nth-child(even) .icon {
  margin-left: 2rem;
}

.info_card:nth-child(odd) .icon {
  margin-right: 4rem;
}

.title {
  font-family: var(--copy-bold);
  font-size: 28px;
  text-transform: none;
}

.copy {
  font-family: var(--copy-light);
  text-transform: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
  width: 460px;
}

#copy_section_blk {
  background-color: var(--foreground);
  color: var(--background);
}

@media (prefers-color-scheme: dark) {
  #copy_section_blk {
    background-color: var(--background);
    color: var(--foreground);
  }
}

#ig_section {
  padding: 2rem 0rem 3rem 0rem;
}

.ig_link {
  font-size: 48px;
}

.dog_mosaic {
  width: 100vw;
  height: auto;
}

@media (max-width: 667px) {
  #tag_line > p,
  .ig_link {
    font-size: 28px;
  }

  .info_headline {
    flex-direction: column;
    text-align: left;
  }

  .info_header {
    font-size: 48px;
    margin-bottom: 0rem;
  }

  .best_sh {
    display: flex;
    margin-bottom: 4rem;
  }

  .dog_icon {
    height: 60px;
    width: auto;
    margin-top: 0.5rem;
  }

  .info_section {
    width: 100vw;
  }

  .info_card {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 4rem;
  }

  .info_card:nth-child(even) {
    flex-direction: column;
    align-self: flex-start;
  }

  .copy {
    width: 100vw;
    padding: 0rem 1rem 0rem 1rem;
    line-height: 1.4;
  }

  .icon,
  .info_card:nth-child(even) .icon {
    width: 120px;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .info_card:nth-child(odd) .icon {
    margin-right: 0rem;
  }
}
