/*.nav_icon {
  margin-left: 4rem;
  height: 80px;
  width: auto;
}

.link_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_link {
  width: 120px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  padding: 0.5rem;
  text-decoration: none;
}

.nav_link:hover {
  background: lightgray;
  border-bottom: none;
}*/

.base_navbar_container {
  display: flex;
  justify-content: center;
  background-color: rgba(23, 23, 23, 0.95);
  padding: 2rem 0rem 2rem 0rem;
  align-items: flex-start;
  z-index: 1000;
  width: 100vw;
  display: none;
}

.dog_icon {
  height: 100px;
  width: auto;
  margin-right: 1.5rem;
}

.title {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--background);

  margin-top: -0.3em;
}

.info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
}

.information > p,
.information > a {
  font-size: 20px;
  font-family: var(--copy-light);
}

.bone_icon {
  margin: 0rem 1rem 0rem 1rem;
}

.small_nav_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(23, 23, 23, 0.95);
  padding: 1rem 0rem 1rem 0rem;
  width: 100vw;
}

.navbar_both_dogs {
  height: 80px;
  width: auto;
  margin-right: 2rem;
}

.mobile_nav {
  display: none;
}

.menu {
  display: none;
}

@media (max-width: 667px) {
  .nav_menu {
    display: none;
  }

  .mobile_nav {
    position: fixed;
    background-color: var(--background);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem 2rem 1rem;
    z-index: 1000;
  }

  /* mobile menu */

  .menu {
    width: 100%;
    background-color: var(--background);
    border-top: 1px solid lightgray;
  }

  .menu.active {
    display: flex;
    position: fixed;
    flex-direction: column;
    text-align: center;
    height: 39vh;
    z-index: 1000;
  }
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .nav_link:hover {
    color: var(--foreground);
    background: var(--dm_background);
  }
  .mobile_nav {
    background-color: var(--dm_background);
  }
}

[data-theme="dark"] .nav_link:hover {
  color: var(--foreground);
  background: var(--dm_background);
}

[data-theme="dark"] .mobile_nav {
  background-color: var(--dm_background);
}
