.base_navbar_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.base_header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  background-color: var(--background);
  width: 100vw;
  text-decoration: none;
}

.two_box_header {
  height: 160px;
  width: auto;
}

.dog_icon_right,
.dog_icon_left {
  height: 100px;
  width: auto;
  margin: 0rem 1rem 0rem 0.5rem;
}

.dog_icon_left {
  margin-left: 1.5rem;
}

.title,
.title_small {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

.title_small {
  font-size: 40px;
  padding: 0rem 1rem 0.4rem 1rem;
}

.info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0rem 2rem 0rem;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: var(--copy-light);
}

.bone_icon {
  margin: 0rem 1rem 0rem 1rem;
}

.link_container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--background);
  background-color: rgba(23, 23, 23, 0.95);
  padding: 1.5rem;
  width: 100vw;
}

.nav_link_group {
  display: flex;
  align-items: center;
}

.nav_link {
  text-decoration: none;
  font-size: 24px;
  padding: 0rem 1rem 0rem 1rem;
}

.small_nav_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small_nav_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  width: 100vw;
  overflow: hidden;
  text-decoration: none;
}

.navbar_mobile_dog_one {
  height: 70px;
  width: auto;
}

.mobile_nav,
.menu {
  display: none;
}

@media (max-width: 667px) {
  .nav_menu,
  .base_navbar_container,
  .small_nav_container {
    display: none;
  }

  .mobile_nav {
    background-color: var(--foreground);
    color: var(--background);
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
    z-index: 1000;
  }

  .book_now {
    text-decoration: none;
  }

  /* mobile menu */

  .menu {
    width: 100%;
    background-color: var(--background);
    border-top: 1px solid lightgray;
  }

  .menu.active {
    display: flex;
    position: fixed;
    flex-direction: column;
    text-align: center;
    height: 39vh;
    z-index: 1000;
  }
}
