.gallery_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 2rem 0rem 2rem 0rem;
  width: 1200px;
  background-color: var(--background);
}

.photo_container:nth-child(n) {
transition: transform 0.5s ease;;
}

.photo_container:nth-child(1):hover {
  transform: rotate(5deg); 
}

.photo_container:nth-child(2):hover {
  transform: rotate(-5deg); 
}

.photo_container:nth-child(3):hover {
  transform: rotate(10deg); 
}

.photo_container:nth-child(4):hover {
  transform: rotate(2deg); 
}

.photo_container:nth-child(5):hover {
  transform: rotate(10deg); 
}

.photo_container:nth-child(6):hover {
  transform: rotate(-4deg); 
}

.photo_container:nth-child(7):hover {
  transform: rotate(5deg); 
}

.photo_container:nth-child(8):hover {
  transform: rotate(-10deg); 
}

.picture {
  margin: 2rem;
  height: 200px;
  width: auto;
  cursor: pointer;
}

@media (max-width: 667px) {
  .gallery_container {
    width: 100vw;
  }

  .picture {
    width: 140px;
    height:auto
  }
}
